[submodule "Flameberry/vendor/GLFW"]
	path = Flameberry/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Flameberry/vendor/glm"]
	path = Flameberry/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Flameberry/vendor/imgui"]
	path = Flameberry/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Flameberry/vendor/yaml-cpp"]
	path = Flameberry/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
